<!DOCTYPE html>
<html lang="en" xmlns:th="http://thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>FIND SUBJECT BY NAME</title>
    <link rel="stylesheet" type="text/css" href="/resources/css/students/styleSaveStudent.css"/>
    <link rel="stylesheet" type="text/css" href="/resources/css/university/styleUniversity.css"/>
    <link rel="stylesheet" type="text/css" href="/resources/css/students/styleAllStudents.css"/>
</head>
<body>

<div th:insert="~{university :: copy}"></div>


<div class="login-page">
    <div class="form">
        <form class="login-form" th:method="GET" th:action="@{/subjects/found/by_name}" th:object="${subject}">
            <input type="text" th:field="*{name}" id="name" placeholder="name subject"/>
            <button type="submit">find</button>
        </form>
    </div>
</div>

</body>
</html>