<!DOCTYPE html>
<html lang="en" xmlns:th="http://thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>UPDATE THE TEACHERS' SUBJECT</title>
    <link rel="stylesheet" type="text/css" href="/resources/css/university/styleUniversity.css"/>
    <link rel="stylesheet" type="text/css" href="/resources/css/students/styleSaveStudent.css"/>
    <link rel="stylesheet" type="text/css" href="/resources/css/students/styleAllStudents.css"/>
    <link rel="stylesheet" type="text/css" href="/resources/css/students/styleDropDownList.css"/>
</head>
<body>
<div th:insert="~{university :: copy}"></div>
<div class="login-page">
    <div class="form">
        <form class="login-form" th:method="PATCH"
              th:action="'/teachers/' + ${updateSubject.teacher.id} + '/updated/' + ${updateSubject.subject.id} + '/subject'" th:object="${updateSubject}">
            <input type="text" th:field="*{subject.name}" id="name" placeholder="subject name" readonly/>
            <span class="custom-dropdown big">
            <select th:object="${newSubject}" th:field="*{id}" id="subject">
                <option th:each="subject : ${updateSubject.subjects}" th:value="${subject.id}"
                        th:text="${subject.name}"></option>
            </select>
            </span>
            <button type="submit">update</button>
        </form>
    </div>
</div>
</body>
</html>