<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns="http://www.w3.org/1999/html">
<head>
    <meta charset="UTF-8">
    <title>University</title>
    <link rel="stylesheet" type="text/css" href="/resources/css/university/styleUniversity.css"/>
    <link rel="stylesheet" type="text/css" href="/resources/css/students/styleSaveStudent.css"/>
    <link rel="stylesheet" type="text/css" href="/resources/css/students/styleAllStudents.css"/>
</head>
<body>

<div th:fragment="copy">
    <div id="intro-dm" style="text-align: center;">
        <h1>UNIVERSITY</h1>
    </div>

    <div class="navbar">

        <div class="dropdown">
            <button class="dropbtn">Student
                <i class="fa fa-caret-down"></i>
            </button>
            <div class="dropdown-content">
                <a th:href="@{/students}">Students</a>
                <a th:href="@{/new_student}">Save Student</a>
                <a th:href="@{/find_students_by_course}">Find students by course</a>
                <a th:href="@{/find_students_by_group}">Find students by group</a>
                <a th:href="@{/find_student_by_name_surname}">Find students by name/surname</a>
                <a th:href="@{/delete_student_by_name_surname}">Delete student by name/surname</a>
            </div>
        </div>

        <div class="dropdown">
            <button class="dropbtn">Teacher
                <i class="fa fa-caret-down"></i>
            </button>
            <div class="dropdown-content">
                <a th:href="@{/teachers}">Teachers</a>
                <a th:href="@{/new_teacher}">Save teacher</a>
                <a th:href="@{/find_teacher_by_name_surname}">Find teacher by name/surname</a>
                <a th:href="@{/delete_teacher_by_name_surname}">Delete teacher by name/surname</a>
            </div>
        </div>

        <div class="dropdown">
            <button class="dropbtn">Group
                <i class="fa fa-caret-down"></i>
            </button>
            <div class="dropdown-content">
                <a th:href="@{/groups}">Groups</a>
                <a th:href="@{/new_group}">Save group</a>
                <a th:href="@{/find_group_by_name}">Find group by name</a>
                <a th:href="@{/delete_group_by_name}">Delete group by name</a>
            </div>
        </div>

        <div class="dropdown">
            <button class="dropbtn">Subject
                <i class="fa fa-caret-down"></i>
            </button>
            <div class="dropdown-content">
                <a th:href="@{/subjects}">Subjects</a>
                <a th:href="@{/new_subject}">Save subject</a>
                <a th:href="@{/find_subject_by_name}">Find subject by name</a>
                <a th:href="@{/delete_subject_by_name}">Delete subject by name</a>
            </div>
        </div>

        <div class="dropdown">
            <button class="dropbtn">Classrooms
                <i class="fa fa-caret-down"></i>
            </button>
            <div class="dropdown-content">
                <a th:href="@{/classrooms}">Classrooms</a>
                <a th:href="@{/new_classroom}">Save classroom</a>
                <a th:href="@{/find_classroom_by_number}">Find classroom by number</a>
                <a th:href="@{/delete_classroom_by_number}">Delete classroom by number</a>
            </div>
        </div>

        <div class="dropdown">
            <button class="dropbtn">Event
                <i class="fa fa-caret-down"></i>
            </button>
            <div class="dropdown-content">
                <a th:href="@{/events}">Events</a>
                <a th:href="@{/new_event}">Create Event</a>
                <a th:href="@{/find_events}">Find events for period</a>
            </div>
        </div>

        <div class="dropdown">
            <button class="dropbtn">University
                <i class="fa fa-caret-down"></i>
            </button>
            <div class="dropdown-content">
                <a th:href="@{/university}">main page</a>
            </div>
        </div>

    </div>
</div>
</div>
</body>
</html>

