<!DOCTYPE html>
<html lang="en" xmlns:th="http://thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>UPDATE THE SUBJECTS' TEACHER</title>
    <link rel="stylesheet" type="text/css" href="/resources/css/university/styleUniversity.css"/>
    <link rel="stylesheet" type="text/css" href="/resources/css/students/styleSaveStudent.css"/>
    <link rel="stylesheet" type="text/css" href="/resources/css/students/styleAllStudents.css"/>
    <link rel="stylesheet" type="text/css" href="/resources/css/students/styleDropDownList.css"/>
</head>
<body>
<div th:insert="~{university :: copy}"></div>
<div class="login-page">
    <div class="form">
        <form class="login-form" th:method="PATCH" th:action="'/subjects/' + ${subject.id} + '/updated/' + ${oldTeacher.id} + '/teacher'">
            <span class="custom-dropdown big">
            <select th:object="${newTeacher}" th:field="*{id}" id="teacher">
                <option th:each="teacher : ${teachers}" th:value="${teacher.id}"
                        th:text="${teacher.firstName} + ' ' + ${teacher.lastName}"></option>
            </select>
            </span>>
            <button type="submit">update</button>
        </form>
    </div>
</div>
</body>
</html>