<!DOCTYPE html>
<html lang="en" xmlns:th="http://thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>ADD SUBJECT TO TEACHER</title>
    <link rel="stylesheet" type="text/css" href="/resources/css/university/styleUniversity.css"/>
    <link rel="stylesheet" type="text/css" href="/resources/css/students/styleSaveStudent.css"/>
    <link rel="stylesheet" type="text/css" href="/resources/css/students/styleAllStudents.css"/>
</head>
<body>
<div th:insert="~{university :: copy}"></div>
<div class="login-page">
    <div class="form">
        <form class="login-form" th:method="POST" th:action="@{/subjects/{subjectId}/added/teacher(subjectId=${subject.id})}">
            <input type="text" th:field="${subject.name}" id="name" placeholder="subject name" READONLY/>
            <input type="text" th:field="${teacher.firstName}" id="teacher name" placeholder="teacher name"/>
            <input type="text" th:field="${teacher.lastName}" id="teacher surname" placeholder="teacher surname"/>
            <button type="submit">add</button>
        </form>
    </div>
</div>
</body>
</html>