<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8"/>
    <title>STUDENTS BY GROUP ID</title>
    <link rel="stylesheet" type="text/css" href="/resources/css/university/styleUniversity.css"/>
    <link rel="stylesheet" type="text/css" href="/resources/css/students/styleSaveStudent.css"/>
    <link rel="stylesheet" type="text/css" href="/resources/css/students/styleAllStudents.css"/>

</head>
<body>

<div th:insert="~{university :: copy}"></div>

<div style="text-align: center;">
    <h1 th:text="'GROUP ' + ${group.name}"></h1>
</div>

<div th:insert="~{students/studentTable :: students}"></div>

<div class="form">
    <form class="login-form" th:method="DELETE" th:action="@{/students/delete/all/by_group/{groupId}(groupId=${group.id})}">
        <button type="submit">DELETE THESE STUDENTS FROM GROUP</button>
    </form>
</div>

</body>
</html>

