<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>EVENTS TABLE</title>
    <link rel="stylesheet" type="text/css" href="/resources/css/university/styleUniversity.css"/>
    <link rel="stylesheet" type="text/css" href="/resources/css/students/styleSaveStudent.css"/>
    <link rel="stylesheet" type="text/css" href="/resources/css/students/styleAllStudents.css"/>
</head>
<body>
<div th:fragment="events">
    <section>
        <!--for demo wrap-->
        <h1>LIST EVENTS</h1>
        <h1 th:text="${count}">COUNT ALL EVENTS</h1>
        <div class="tbl-header">
            <table cellpadding="0" cellspacing="0" border="0">
                <thead>
                <tr>
                    <th>Date and Time</th>
                    <th>Subject</th>
                    <th>Classroom</th>
                    <th>Teacher</th>
                    <th>Group</th>
                    <th>Show students</th>
                    <th>Update</th>
                    <th>Delete</th>
                </tr>
                </thead>
            </table>
        </div>
        <div class="tbl-content">
            <table cellpadding="0" cellspacing="0" border="0">
                <tbody>
                <tr th:each="event: ${events}">
                    <td aria-sort="ascending" th:text="${#temporals.format(event.dateTime, 'yyyy-MM-dd HH:mm')}"/>
                    <td th:text="${event.subject.name}"/>
                    <td th:text="${event.classroom.number}"/>
                    <td th:text="${event.teacher.firstName + ' ' + event.teacher.lastName}"/>
                    <td th:text="${event.group.name}"/>
                    <td>
                        <form class="login-form" th:method="GET"
                              th:action="@{/students/found/by_group/{groupId}(groupId=${event.group.id})}">
                            <button type="submit">show students</button>
                        </form>
                    </td>
                    <td>
                        <form class="login-form" th:method="GET"
                              th:action="@{/events/{eventId}/update(eventId=${event.id})}">
                            <button type="submit">update</button>
                        </form>
                    </td>
                    <td>
                        <form class="login-form" th:method="DELETE"
                              th:action="@{/events/{eventId}/deleted(eventId=${event.id})}">
                            <button type="submit">delete</button>
                        </form>
                    </td>
                </tr>
                </tbody>
            </table>
        </div>
    </section>
</div>