<!DOCTYPE html>
<html lang="en" xmlns:th="http://thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>SAVE EVENT</title>
    <link rel="stylesheet" type="text/css" href="/resources/css/students/styleSaveStudent.css"/>
    <link rel="stylesheet" type="text/css" href="/resources/css/university/styleUniversity.css"/>
    <link rel="stylesheet" type="text/css" href="/resources/css/students/styleAllStudents.css"/>
</head>
<body>

<div th:insert="~{university :: copy}"></div>


<div class="login-page">
    <div class="form">
        <form class="login-form" th:method="POST" th:action="@{/events/saved}" th:object="${newEvent}">
            <input type="text" th:field="*{dateTime}" id="date time" placeholder="date time"/>
            <input type="text" th:field="*{subject.name}" id="subject" placeholder="subject name"/>
            <input type="text" th:field="*{classroom.number}" id="classroom" placeholder="classroom number"/>
            <input type="text" th:field="*{teacher.firstName}" id="teacher name" placeholder="teacher name"/>
            <input type="text" th:field="*{teacher.lastName}" id="teacher surname" placeholder="teacher surname"/>
            <input type="text" th:field="*{group.name}" id="group name" placeholder="group name"/>
            <button type="submit">save</button>
        </form>
    </div>
</div>

</body>
</html>