<!DOCTYPE html>
<html lang="en" xmlns:th="http://thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>SAVE EVENT</title>
    <link rel="stylesheet" type="text/css" href="/resources/css/students/styleSaveStudent.css"/>
    <link rel="stylesheet" type="text/css" href="/resources/css/university/styleUniversity.css"/>
    <link rel="stylesheet" type="text/css" href="/resources/css/students/styleAllStudents.css"/>
    <link rel="stylesheet" type="text/css" href="/resources/css/students/styleDropDownList.css"/>
</head>
<body>

<div th:insert="~{university :: copy}"></div>


<div class="login-page">
    <div class="form">
        <form class="login-form" th:method="POST" th:action="@{/events/saved}" th:object="${saveEvent}">
            <input type="datetime-local" th:field="${event.dateTime}" id="date time" placeholder="date time"/>
            <span class="custom-dropdown big">
            <select th:object="${event}" th:field="*{subject.id}" id="subject">
                <option th:each="subject : ${saveEvent.subjects}" th:value="${subject.id}" th:text="${subject.name}"></option>
            </select>
                </span>
            <span class="custom-dropdown big">
            <select th:object="${event}" th:field="*{classroom.id}" id="classroom">
                <option th:each="classroom : ${saveEvent.classrooms}" th:value="${classroom.id}"
                        th:text="${classroom.number}"></option>
            </select>
            </span>
            <span class="custom-dropdown big">
            <select th:object="${event}" th:field="*{teacher.id}" id="teacher">
                <option th:each="teacher : ${saveEvent.teachers}" th:value="${teacher.id}"
                        th:text="${teacher.firstName} + ' ' + ${teacher.lastName}"></option>
            </select>
            </span>
            <span class="custom-dropdown big">
            <select th:object="${event}" th:field="*{group.id}" id="group">
                <option th:each="group : ${saveEvent.groups}" th:value="${group.id}" th:text="${group.name}"></option>
            </select>
            </span>
            <button type="submit">save</button>
        </form>
    </div>
</div>

</body>
</html>