<!DOCTYPE html>
<html lang="en" xmlns:th="http://thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>UPDATE STUDENT</title>
    <link rel="stylesheet" type="text/css" href="/resources/css/university/styleUniversity.css"/>
    <link rel="stylesheet" type="text/css" href="/resources/css/students/styleSaveStudent.css"/>
    <link rel="stylesheet" type="text/css" href="/resources/css/students/styleAllStudents.css"/>
    <link rel="stylesheet" type="text/css" href="/resources/css/students/styleDropDownList.css"/>
</head>
<body>
<div th:insert="~{university :: copy}"></div>
<div class="login-page">
    <div class="form">
        <form class="login-form" th:method="PATCH" th:action="@{/students/{id}/updated(id=${studentUpdate.student.id})}" th:object="${studentUpdate}">
            <input type="text" th:field="*{student.firstName}" id="name" placeholder="name"/>
            <div style="color:red" th:if="${#fields.hasErrors('student.firstName')}" th:errors="*{student.firstName}"></div>
            <input type="text" th:field="*{student.lastName}" id="surname" placeholder="surname"/>
            <div style="color:red" th:if="${#fields.hasErrors('student.lastName')}" th:errors="*{student.lastName}"></div>
            <input type="text" th:field="*{student.course}" id="course" placeholder="course"/>
            <div style="color:red" th:if="${#fields.hasErrors('student.course')}" th:errors="*{student.course}"></div>
            <input type="text" th:field="*{student.group.name}" placeholder="group name" readonly>
            <span class="custom-dropdown big">
            <select th:object="${studentUpdate}" th:field="*{student.group.id}" id="student">
                <option th:each="group : ${studentUpdate.groups}" th:value="${group.id}"
                        th:text="${group.name}"></option>
            </select>
            </span>
            <button type="submit">update</button>
        </form>
    </div>
</div>
</body>
</html>