<!DOCTYPE html>
<html lang="en" xmlns:th="http://thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>FIND STUDENTS BY GROUP NAME</title>
    <link rel="stylesheet" type="text/css" href="/resources/css/students/styleSaveStudent.css"/>
    <link rel="stylesheet" type="text/css" href="/resources/css/university/styleUniversity.css"/>
    <link rel="stylesheet" type="text/css" href="/resources/css/students/styleAllStudents.css"/>
    <link rel="stylesheet" type="text/css" href="/resources/css/students/styleDropDownList.css"/>
</head>
<body>

<div th:insert="~{university :: copy}"></div>


<div class="login-page">
    <div class="form">
        <form class="login-form" th:action="@{/students/found/by_group}" th:method="GET">
                        <span class="custom-dropdown big">
            <select th:object="${student}" th:field="*{group.name}" id="student">
                <option th:each="group : ${groups}" th:value="${group.name}"
                        th:text="${group.name}"></option>
            </select>
            </span>
            <button type="submit">find</button>
        </form>
    </div>
</div>



</body>
</html>