<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org" xmlns="http://www.w3.org/1999/html">

<head>
    <meta charset="UTF-8"/>
    <title>Students List</title>
    <link rel="stylesheet" type="text/css" href="/resources/css/university/styleUniversity.css"/>
    <link rel="stylesheet" type="text/css" href="/resources/css/students/styleSaveStudent.css"/>
    <link rel="stylesheet" type="text/css" href="/resources/css/students/styleAllStudents.css"/>

</head>

<body>

<div th:insert="~{university :: copy}"></div>

<div th:insert="~{students/studentTable :: students}"></div>

<div class="form">
    <form class="login-form" th:method="DELETE" th:action="@{/students/deleted/all}">
        <button type="submit">DELETE ALL STUDENTS</button>
    </form>
<!--    <form class="login-form" th:method="DELETE"-->
<!--          th:action="@{/students/delete/all/by_group/{groupId}(groupId=${groupId})}">-->
<!--        <button type="submit">DELETE ALL STUDENTS BY THIS GROUP</button>-->
<!--    </form>-->
    <form class="login-form" th:method="DELETE"
          th:action="@{/students/delete/by_course/{course}(course=${students.get(0).course})}">
        <button type="submit">DELETE ALL STUDENTS BY THIS COURSE</button>
    </form>
</div>

</body>
</html>

