<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
</head>
<body>
<div th:insert="/navbar.html"></div>
<h3>List of students</h3>
<a th:href="@{/students/create}">Add new student</a>
<table class="table table-bordered">
    <thead>
    <tr>
        <th>ID</th>
        <th>First name</th>
        <th>Last name</th>
        <th>ID Card</th>
        <th>Group number</th>
        <th>Edit</th>
    </tr>
    </thead>
    <tbody>
    <tr th:if="${students.empty}">
        <td colspan="2"> No students available</td>
    </tr>
    <tr th:each="student : ${students}">
        <td th:text="${student.id}"></td>
        <td th:text="${student.firstName}"></td>
        <td th:text="${student.lastName}"></td>
<!--        <td>
            <div><a th:href="@{/students/update/{id}(id=${student.id})}">change</a></div>
            <div><a th:href="@{/students/delete/{id}(id=${student.id})}">delete</a></div>
        </td>-->
    </tr>
    </tbody>
</table>
</body>
</html>
