<!DOCTYPE html>
<html lang="en" xmlns:th="http://thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>UPDATE THE TEACHERS' SUBJECT</title>
    <link rel="stylesheet" type="text/css" href="/resources/css/university/styleUniversity.css"/>
    <link rel="stylesheet" type="text/css" href="/resources/css/students/styleSaveStudent.css"/>
    <link rel="stylesheet" type="text/css" href="/resources/css/students/styleAllStudents.css"/>
</head>
<body>
<div th:insert="~{university :: copy}"></div>
<div class="login-page">
    <div class="form">
        <form class="login-form" th:method="PATCH" th:action="'/' + ${teacher.id} + '/updated_the_teacher/' + ${oldSubject.id} + '/subject'">
            <input type="text" th:field="${oldSubject.name}" id="name" placeholder="subject name"/>
            <button type="submit">update</button>
        </form>
    </div>
</div>
</body>
</html>