<!DOCTYPE html>
<html lang="en" xmlns:th="http://thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>ASSIGN STUDENT TO GROUP</title>
    <link rel="stylesheet" type="text/css" href="/resources/css/university/styleUniversity.css"/>
    <link rel="stylesheet" type="text/css" href="/resources/css/students/styleSaveStudent.css"/>
    <link rel="stylesheet" type="text/css" href="/resources/css/students/styleAllStudents.css"/>
</head>
<body>
<div th:insert="~{university :: copy}"></div>
<div class="login-page">
    <div class="form">
        <form class="login-form" th:method="PATCH" th:action="@{/students/{studentId}/to_group(studentId=${student.id})}">
            <input type="text" th:field="${student.firstName}" id="name" placeholder="name" READONLY/>
            <input type="text" th:field="${student.lastName}" id="surname" placeholder="surname" READONLY/>
            <input type="text" th:field="${student.course}" id="course" placeholder="course" READONLY/>
            <input type="text" th:field="${group.name}" id="group" placeholder="group name" />
            <button type="submit">assign</button>
        </form>
    </div>
</div>
</body>
</html>