<!DOCTYPE html>
<html lang="en" xmlns:th="http://thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>DELETE STUDENT BY FIRST AND LAST NAME</title>
    <link rel="stylesheet" type="text/css" href="/resources/css/students/styleSaveStudent.css"/>
    <link rel="stylesheet" type="text/css" href="/resources/css/university/styleUniversity.css"/>
    <link rel="stylesheet" type="text/css" href="/resources/css/students/styleAllStudents.css"/>
</head>
<body>

<div th:insert="~{university :: copy}"></div>


<div class="login-page">
    <div class="form">
        <form class="login-form"
              th:action="@{/delete_student_by_first_and_last_name}"
              th:object="${student}"
              th:method="DELETE">
            <input type="text" th:field="*{firstName}" id="name" placeholder="name"/>
            <input type="text" th:field="*{lastName}" id="surname" placeholder="surname"/>
            <button type="submit">delete</button>
        </form>
    </div>
</div>

</body>
</html>